---
import Layout from '../layouts/Layout.astro'
import App from '../components/App'
---

<Layout title='Lifepath Generator'>
  <main class='flex-1 text-neutral-50'>
    <h1 class='text-3xl text-center mt-4'>Lifepath Generator</h1>

    <App client:load />
  </main>
</Layout>
